# Root & IDEs 
.env
.env.*
!.env.example
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
*.log

# Frontend (Next.js) 
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage/
frontend/.next/
frontend/out/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.env*
frontend/.vercel/
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Backend (Spring Boot / Java)
backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/.env*

!backend/src/main/**/target/
!backend/src/test/**/target/
!backend/src/main/**/build/
!backend/src/test/**/build/

# OS Files
Thumbs.db